@{
    ViewData["Title"] = "Album";
}
@model OnlineDatingSite.Models.SInformationModel;

<!DOCTYPE html>
<html>
<br>
<br>
<br>
<head>
    <h1 style="text-align: center;font-size:60px;">照片集</h1>
    <br>
    <style>

        table {
            border-spacing: 20px;
            border: 1px solid black;
        }

            table.center {
                margin-left: auto;
                margin-right: auto;
            }

        tr, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <form action="\Website\Album" method="post" style="text-align:center" enctype="multipart/form-data">

        @for (int i = 1; i <= 8; i++)
        {
            <img src="~/image/@ViewData["album"+i+""]" height="180" width="178">
            if (i % 4 == 0)
            {
                <br />
            }
        }
        <input type="file" name="album" multiple /><br />
        <input type="submit" value="變更相簿">

    </form>
</body>
</html>