
@{
    ViewData["Title"] = "PersonalInformation";
}
<!DOCTYPE html>
<html>
<br><br><br>
<head>
    <h1 style="text-align: center;font-size:60px;">個人資訊</h1>
    <br>
    <style>
        body {
            background-image: url('image/LOVER.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
        table {
            border-spacing: 20px;
        }
    </style>
</head>


<body>
    <form style="text-align: center;" method="post">
        <img src="~/image/PresetPhoto.bmp" alt="PresetPhoto"><br><br>
        <table style="width:100%">
            <tr>
                <td><label for="name"> 姓名:陳家緯</label></td>
                <!--<td><input type="text" id="name" name="name" value="陳家緯"></td>-->
            </tr>
            <tr>
                <td><label for="password"> 密碼:a2375516</label></td>
                <!--<td><input type="text" id="name" name="name" value="陳家緯"></td>-->
            </tr>
            <tr>
                <td><label for="nickname">暱稱:Jason</label></td>
                <!--<td><input type="text" id="nickname" name="nickname" value="Jason"></td>-->
            </tr>
            <tr>
                <td><label for="sex">性別:男</label></td>
            </tr>
            <tr>
                <td><label for="address">地址:新北市</label></td>
            </tr>
            <tr>
                <td><label for="birth">生日:1997/01/26</label></td>
            </tr>
            <tr>
                <td><label for="email">信箱:a2375516@gmail.com</label></td>
            </tr>
            <tr>
                <td><label for="job">工作:學生</label></td>
            </tr>
            <tr>
                <td><label for="interest">興趣:運動</label></td>
            </tr>
            <tr>
                <td><label for="resume">簡述:HI!我想交女朋友</label></td>
            </tr>
        </table><br><br>
        <button type="button" onclick="alert('Hello World!')">修改資料</button>

    </form>

    </body>
    </html>

